<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expression_63</key>
	<string>[闭嘴~]</string>
	<key>expression_62</key>
	<string>[心花怒放~]</string>
	<key>expression_61</key>
	<string>[跳舞~]</string>
	<key>expression_60</key>
	<string>[支持~]</string>
	<key>expression_59</key>
	<string>[张望~]</string>
	<key>expression_58</key>
	<string>[思考~]</string>
	<key>expression_57</key>
	<string>[装大~]</string>
	<key>expression_56</key>
	<string>[花痴~]</string>
	<key>expression_55</key>
	<string>[晕~]</string>
	<key>expression_54</key>
	<string>[发明~]</string>
	<key>expression_53</key>
	<string>[睡觉~]</string>
	<key>expression_52</key>
	<string>[亲亲~]</string>
	<key>expression_51</key>
	<string>[痛苦~]</string>
	<key>expression_50</key>
	<string>[敲打~]</string>
	<key>expression_49</key>
	<string>[鼓掌~]</string>
	<key>expression_48</key>
	<string>[OK~]</string>
	<key>expression_47</key>
	<string>[表扬~]</string>
	<key>expression_46</key>
	<string>[赞~]</string>
	<key>expression_45</key>
	<string>[喜欢~]</string>
	<key>expression_44</key>
	<string>[打招呼~]</string>
	<key>expression_43</key>
	<string>[抓狂~]</string>
	<key>expression_42</key>
	<string>[拜拜~]</string>
	<key>expression_41</key>
	<string>[吓~]</string>
	<key>expression_40</key>
	<string>[天使~]</string>
	<key>expression_39</key>
	<string>[感动~]</string>
	<key>expression_38</key>
	<string>[委屈~]</string>
	<key>expression_37</key>
	<string>[调逗~]</string>
	<key>expression_36</key>
	<string>[向下看~]</string>
	<key>expression_35</key>
	<string>[抠鼻~]</string>
	<key>expression_34</key>
	<string>[受伤~]</string>
	<key>expression_33</key>
	<string>[蒙嘴~]</string>
	<key>expression_32</key>
	<string>[伤心~]</string>
	<key>expression_31</key>
	<string>[衰~]</string>
	<key>expression_30</key>
	<string>[汗~]</string>
	<key>expression_29</key>
	<string>[扯眼~]</string>
	<key>expression_28</key>
	<string>[疑问~]</string>
	<key>expression_27</key>
	<string>瞌睡~]</string>
	<key>expression_26</key>
	<string>[害怕~]</string>
	<key>expression_25</key>
	<string>[暴吐~]</string>
	<key>expression_24</key>
	<string>[左右张望~]</string>
	<key>expression_23</key>
	<string>[热~]</string>
	<key>expression_22</key>
	<string>[凶悍~]</string>
	<key>expression_21</key>
	<string>[平淡~]</string>
	<key>expression_20</key>
	<string>[打地鼠~]</string>
	<key>expression_19</key>
	<string>[杂眼~]</string>
	<key>expression_18</key>
	<string>[装大~]</string>
	<key>expression_17</key>
	<string>[咒骂~]</string>
	<key>expression_16</key>
	<string>[斜眼~]</string>
	<key>expression_15</key>
	<string>[流鼻涕~]</string>
	<key>expression_14</key>
	<string>[撇嘴~]</string>
	<key>expression_13</key>
	<string>[可爱~]</string>
	<key>expression_12</key>
	<string>[色~]</string>
	<key>expression_11</key>
	<string>[搞怪~]</string>
	<key>expression_10</key>
	<string>[发火~]</string>
	<key>expression_9</key>
	<string>[偷笑~]</string>
	<key>expression_8</key>
	<string>[流鼻血~]</string>
	<key>expression_7</key>
	<string>[闲嘴~]</string>
	<key>expression_6</key>
	<string>[调皮~]</string>
	<key>expression_5</key>
	<string>[鄙视~]</string>
	<key>expression_4</key>
	<string>[无赖~]</string>
	<key>expression_3</key>
	<string>[大哭~]</string>
	<key>expression_2</key>
	<string>[无聊~]</string>
	<key>expression_1</key>
	<string>[微笑~]</string>
</dict>
</plist>
