<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>weixiao_g</key>
	<string>[微笑]</string>
	<key>piezhui_g</key>
    <string>[撇嘴]</string>
    <key>se_g</key>
	<string>[色]</string>
    <key>ku_g_g</key>
	<string>[酷]</string>
	<key>ku_g</key>
    <string>[大哭]</string>
    <key>haixiu_g</key>
	<string>[害羞]</string>
    <key>bizhui_g</key>
	<string>[闭嘴]</string>
    <key>shui_g</key>
	<string>[睡]</string>
    <key>kuaiku_g</key>
    <string>[快哭]</string>
    <key>ciya_g</key>
	<string>[呲牙]</string>
    <key>baiyan_g</key>
	<string>[白眼]</string>
    <key>liuhan_g</key>
	<string>[流汗]</string>
    <key>touxiao_g</key>
	<string>[偷笑]</string>
    <key>fanu_g</key>
	<string>[发怒]</string>
    <key>yun_g</key>
	<string>[晕]</string>
    <key>zhuakuang_g</key>
	<string>[抓狂]</string>
    <key>tiaopi_g</key>
	<string>[调皮]</string>
    <key>yiwen_g</key>
	<string>[疑问]</string>
    <key>tu_g</key>
	<string>[吐]</string>
    <key>kun_g</key>
	<string>[困]</string>
    <key>keai_g</key>
	<string>[可爱]</string>
    <key>zaijian_g</key>
	<string>[再见]</string>
    <key>qinqin_g</key>
	<string>[亲亲]</string>
    <key>xia_g</key>
	<string>[吓]</string>
    <key>bishi_g</key>
	<string>[鄙视]</string>
    <key>huaixiao_g</key>
	<string>[坏笑]</string>
    <key>hanxiao_g</key>
	<string>[憨笑]</string>
    <key>wabikong_g</key>
	<string>[挖鼻孔]</string>
    <key>jingya_g</key>
	<string>[惊讶]</string>
    <key>nanguo_g</key>
	<string>[难过]</string>
    <key>yinxian_g</key>
	<string>[阴险]</string>
    <key>jingkong_g</key>
	<string>[惊恐]</string>
    <key>xiaodiaoya_g</key>
	<string>[笑掉牙]</string>
    <key>kelian_g</key>
	<string>[可怜]</string>
    <key>aoman_g</key>
	<string>[傲慢]</string>
    <key>suai_g</key>
	<string>[衰]</string>
    <key>weiqu_g</key>
	<string>[委屈]</string>
    <key>wuyu_g</key>
	<string>[无语]</string>
    <key>tanqi_g</key>
	<string>[叹气]</string>
    <key>jinbao_g</key>
	<string>[爆筋]</string>
    <key>deyi_g</key>
	<string>[得意]</string>
    <key>banguilian_g</key>
	<string>[扮鬼脸]</string>
    <key>chahan_g</key>
	<string>[擦汗]</string>
    <key>emo_g</key>
	<string>[恶魔]</string>
    <key>qianshui_g</key>
	<string>[潜水]</string>
    <key>tianshi_g</key>
	<string>[天使]</string>
    <key>zhayan_g</key>
	<string>[眨眼]</string>
    <key>jingli_g</key>
	<string>[敬礼]</string>
    <key>ren_g</key>
	<string>[忍]</string>
	<key>jong_g</key>
	<string>[囧]</string>

</dict>
</plist>
